<h1> Dear <%= @customer.name %> </h1>
 <p> Thank you for accepting the deal.</p>
 <p> Credit Card number: <%= @customer.credit_card_number%></p>
  <p> Amount: <%= @customer.amount %></p>

<h3>Regards,<h3> </br>
<h3> BestDeals.com </h3>