%table
  - @deals.each do |deal|
    %tr
      %td.deal
        = deal.title
      %td.action
        = link_to 'Read', deal_path(deal.id)
      %td.action
        - if @deal_owner && deal.DealOwner_id == @deal_owner.id
          = link_to 'Edit', edit_deal_path(deal.id)
= link_to 'Add new Deal', new_deal_path