%h3
  Title:
  =@deal.title
  %br
  Description:
  =@deal.description
  %br
  Units available:
  =@deal.units_available
  %br
  Expiry Date:
  =@deal.expiry_date
  %br
  Price:
  =@deal.price
  %br
  Discount:
  =@deal.discount
  

